head{



}

body{


}

.header h1{
    text-align: center;
    background-color: rgb(34, 5, 66);
    height:fit-content;
}

.hero{

    border-bottom:solid black 2px;
    background-color: red;
    width:100vw;
    display:flex;
    height: fit-content;
    font-size: 20px;
    justify-content: flex-end;
    


}
ul {
width: 100%;
display: flex;
justify-content: space-evenly;

}




.content1{
    border: 2px solid black;
    display: flex;
    justify-content: left;
    height: fit-content;
    background-color: burlywood;

}

.content2{
    border: 2px solid black;
    display: flex;
    justify-content: right;
    height: fit-content;
    background-color: blue;

}

.nav1{
    /* height: auto;
    max-width: 100; */
    display: flex;
    justify-content: right;
}
.nav2{
    /* height: auto;
    max-width: 100; */
    display: flex;
    justify-content: left;
}

img {
    height: auto;
    max-width: 100%;

}


